p{
	color: #1C0049;
	text-align: center;
}
.content {
	margin-top: 100px;
	margin-left: 50px;
	width: 80%;
	font-size: 2em;
}
.smaller-image{
	width:1000px;
}
p{
	font-family: oblique;
}
ul{
	color:#1C0049;
}
li{
	color:#1C0049;
}
.center{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
html{
	background-color: #19C97D;
}