p{
	color: #736D88;
	text-align: center;
}
.content {
	margin-top: 100px;
	margin-left: 50px;
	width: 80%;
	font-size: 1.5em;
}
.smaller-image{
	width:700px;
}
p{
	font-family: Cormorant Garamond;
}
ul{
	color:#736D88
	
}
li{
	color:#736D88;
	font-family: Cormorant Garamond;
}
.center{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
html{
	background-color: #170C3A;
}
div{
	padding: 25px 50px 75px 100px;
}
header{
	color:  #736D88;
	font-family: Cormorant Garamond;
	text-align: center;
}